<% if object.errors.any? %>
  <div class="bg-danger-50 border-l-4 border-danger-500 text-danger-700 p-4" id="error_messages" role="alert">
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li>・<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
