<footer>
  <div class="bg-orange-500 pt-2">
    <div class="flex pb-5 px-3 m-auto pt-5 border-t text-orange-100 text-sm flex-col max-w-screen-lg items-center">
        <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
          <%= link_to 'プライバシーポリシー', '#', class: 'mx-1' %>
          <%= link_to '利用規約', '#', class: 'mx-1' %>
          <%= link_to 'お問い合わせ', '#', class: 'mx-1' %>
        </div>
        <div class="my-5">© Copyright 2022. All Rights Reserved.</div>
    </div>
  </div>
</footer>
