<div class="bg-gray-50 bg-opacity-20 rounded overflow-hidden shadow-lg mx-2">
  <div class= "w-full my-3">
    <%= link_to food_path(relevance_food.uuid) do %>
      <div class="">
        <div class="w-full">
          <%= image_tag relevance_food.image_url(:thumb), class: "w-11/12 shadow-md mx-auto rounded-sm hover:opacity-70" %>
        </div>
        <div class="px-6 pb-3">
          <div class="font-bold text-lg mt-2">
            <%= link_to relevance_food.name, food_path(relevance_food.uuid), class: "text-gray-600 hover:text-orange-400" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
